<form action="/user/create" method="POST">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter nombre">
  </div>
  <div class="form-group">
    <label for="last">Apellido</label>
    <input type="text" class="form-control" id="last" name="last" placeholder="Enter apellido">
  </div>
  <div class="form-group">
    <label for="edad">Edad</label>
    <input type="text" class="form-control" id="edad" name="edad" placeholder="Enter edad">
  </div>
  <div class="form-group">
    <label for="document">Documento</label>
    <input type="text" class="form-control" id="document" name="document" placeholder="Enter docuemnto">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
